# Node dependencies
node_modules/
npm-debug.log*

# Logs
*.log

# Editor and IDE settings
.idea/
.vscode/*
!.vscode/extensions.json

# Cache and build
.parcel-cache/
dist/
build/

# System files
.DS_Store
Thumbs.db
